<!DOCTYPE html>
<html>
<head>
    <title>WEB1</title>
    <meta charset="utf-8">
</head>
<body>
<h1><a href="/">WEB</a></h1>
<ol>
    <% for (var i = 0; i < list.length; i++) { %>
        <li><a href="/page/<%= list[i].id %>"><%= list[i].title %></a></li>
    <% } %>
</ol>
<%- menu %>
<%- body %>
</body>
</html>