<table class="table table-bordered ">
    <form  method ="post">
    <tr ><td rowspan = "5"><img src="" style="width:300px;height:300px; "></td>
         <td></td></tr>
    <tr> <td>가격 :  원</td></tr>
    <tr> <td>브랜드 : </td></tr>
    <tr> <td>수량 : <input type="number" name="qty"> </td></tr>
        <input type="hidden" name="loginid" value="">
        <input type="hidden" name="mer_id" value="">
        <input type="hidden" name="price" value="">
            <tr><td><button class="btn btn-outline-primary btn-sm" formaction = "#" type="submit">결재</button>
                    <button class="btn btn-outline-primary btn-sm" formaction = "#" type="submit">장바구니</button>
            </td></tr>

    </form>   
</table>